body {
    background-color: #222;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Start Navigation Bar */
nav {
    background-color: #000;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.nav-right {
    display: flex;
    align-items: center;
}
.nav-ul {
    list-style-type: none;
}
.nav-li {
    display: inline-block;
    margin-right: 12px;
}
.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.current-page {
    color: #fff;
    text-decoration: underline;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.nav-logo {
    width: 120px;
    height: auto;
    transition: all 0.3s ease-in-out;
}
.nav-cart {
    width: 35px;
    height: auto;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
}
/* Start Popout Menu */
.popout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    width: 300px;
    height: 1920px;
    background-color: #000;
    opacity: 80%;
    top: 0;
    right: -450px;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}
.popout-ul {
    list-style-type: none;
    padding: 90px 30px;
}
.popout-li {
    margin: 20px;
}
.popout-cart {
    width: 45px;
    height: auto;
    margin: 65px 30px 0 50px;
    position: absolute;
    transition: all 0.3s ease-in-out;
}
.popout-link {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
}
.popout-current-page {
    color: #fff;
    text-decoration: underline;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
}
.ham-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}
.ham-menu div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 2px 0;
    transition: all 0.3s ease;
    border-radius: 20px;
}
@media (max-width: 768px) {
    .nav-logo {
        width: 120px;
        height: auto;
    }
    .nav-cart {
        margin-right: 10px;
    }
    .ham-menu {
        display: flex;
    }
    .nav-right {
        display: none;
    }
}
.popout.active {
    right: 0;
}
.ham-menu.active {
    position: fixed;
    top: 35px;
    right: 5px;
}
.ham-menu.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.ham-menu.active div:nth-child(2) {
    opacity: 0;
}
.ham-menu.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
.popout-cart:hover,
.ham-menu:hover {
    transform: scale(1.1);
    cursor: pointer;
}
/* End Popout Menu */
.current-page:hover,
.nav-link:hover {
    color: #fff;
    text-decoration: underline;
    font-size: 22px;
}
.nav-logo:hover,
.nav-cart:hover {
    transform: scale(1.1);
    cursor: pointer;
}
/* End Navigation Bar */
/* Start Home Header */
.home-header {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 0 30px;
}
.home-header-image {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: 300px;
    border-radius: 10px;
    margin-left: 10px;
}
.home-header-right {
    color: #fff;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 65px;
}
.home-header-title {
    font-size: 36px;
    margin: 0 0 10px 0;
}
.home-header-paragraph {
    font-size: 18px;
}
.home-header-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
    .home-header {
        flex-direction: column;
        height: auto;
        padding: 20px;
        text-align: center;
    }
    .home-header-image {
        max-width: 100%;
        max-height: 100%;
        margin: 0 0 20px 0;
    }
    .home-header-right {
        margin: 0;
    }
    .home-header-paragraph {
        margin-top: 0;
    }
    .home-header-button {
        margin-top: 5px;
    }
}
.home-header-button:hover {
    transform: scale(1.1);
}
/* End Home Header */
/* Start About Us Header */
.about-header {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 0 30px;
}
.about-header-image {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: 300px;
    border-radius: 10px;
    margin-right: 20px;
}
.about-header-text {
    color: #fff;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    text-align: center;
    border: #fff solid 2px;
    border-radius: 15px;
    background-color: #111;
    padding: 20px;
    max-height: 300px;
    overflow: hidden;
}
.about-header-title {
    font-size: 36px;
    margin: 0 0 10px 0;
    text-decoration: underline;
}
.about-header-paragraph {
    font-size: 20px;
}
@media (max-width: 768px) {
    .about-header {
        flex-direction: column-reverse;
        height: auto;
        padding: 20px;
        text-align: center;
    }
    .about-header-image {
        max-width: 100%;
        max-height: 100%;
        margin: 0 0 20px 0;
    }
    .about-header-text {
        margin: 0;
    }
    .about-header-paragraph {
        margin-top: 0;
    }
}
/* End About Us Header */
/* Start Footer */
.Under-Construction {
    background-color: yellow;
    height: 30px;
    color: #000;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 768px) {
    .Under-Construction {
        font-size: 14px;
    }
}