body {
    background-color: #222;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Start Navigation Bar */
nav {
    background-color: #000;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.nav-right {
    display: flex;
    align-items: center;
}
.nav-ul {
    list-style-type: none;
}
.nav-li {
    display: inline-block;
    margin-right: 12px;
}
.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.current-page {
    color: #fff;
    text-decoration: underline;
    font-size: 20px;
}
.nav-logo {
    width: 120px;
    height: auto;
}
.nav-cart {
    width: 35px;
    height: auto;
    margin-right: 20px;
}
@media (max-width: 768px) {
    .nav-logo {
        width: 95px;
        height: auto;
    }
    .nav-cart {
        margin-right: 10px;
    }
}
.current-page:hover,
.nav-link:hover {
    color: #fff;
    text-decoration: underline;
    font-size: 22px;
    transition: all 0.3s ease;
}
.nav-logo:hover,
.nav-cart:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}
/* End Navigation Bar */
/* Start Header */
header {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.header-image {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: 300px;
    border-radius: 10px;
    margin-left: 10px;
}
.header-right {
    color: #fff;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 65px;
}
.header-title {
    font-size: 36px;
    margin: 0 0 10px 0;
}
.header-paragraph {
    font-size: 18px;
}
.header-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 20px;
        text-align: center;
    }
    .header-image {
        max-width: 100%;
        max-height: 100%;
        margin: 0 0 20px 0;
    }
    .header-right {
        margin: 0;
    }
    .header-paragraph {
        margin-top: 0;
    }
    .header-button {
        margin-top: 0;
    }
}
.header-button:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
}
/* End Header */
/* Dynamic */
.Under-Construction {
    background-color: yellow;
    height: 30px;
    color: #000;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media (max-width: 768px) {
    .Under-Construction {
        font-size: 14px;
    }
}